/*
 * Base configuration: params and process labels
 */

params {
    // required
    reads        = "${projectDir}/../data/*_{1,2}.fastq"
    reference    = "${projectDir}/../data/NZ_CP012026.1.fasta"
    outdir       = "${projectDir}/results"

    // optional
    threads      = 4
    save_mpileup = false

    // local profile: path to pre-built conda env with all tools
    conda_env    = null

    // container profile: Docker Hub username/registry prefix
    docker_registry = 'eugeniaarth'
}

process {
    errorStrategy = 'terminate'
    maxRetries    = 1

    withLabel: 'process_low' {
        cpus   = 1
        memory = '2 GB'
    }

    withLabel: 'process_medium' {
        cpus   = { params.threads }
        memory = '4 GB'
    }

    withLabel: 'process_high' {
        cpus   = { params.threads }
        memory = '8 GB'
    }
}

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/timeline.html"
}

report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/report.html"
}

trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/trace.txt"
}

dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/dag.html"
}
