/*
 * Cluster profile: SLURM executor with per-tool conda yml files
 *
 * Usage:
 *   nextflow run main.nf -profile cluster
 */

process {
    executor = 'slurm'
    queue    = 'normal'

    withName: 'FASTQC' {
        conda  = "${projectDir}/envs/fastqc.yml"
        cpus   = 2
        memory = '4 GB'
        time   = '2h'
        clusterOptions = '--account=your_account'
    }

    withName: 'TRIM_READS' {
        conda  = "${projectDir}/envs/fastp.yml"
        cpus   = { params.threads }
        memory = '8 GB'
        time   = '4h'
    }

    withName: 'INDEX_REFERENCE' {
        conda  = "${projectDir}/envs/bwa_samtools.yml"
        cpus   = 1
        memory = '4 GB'
        time   = '2h'
    }

    withName: 'MAP_READS' {
        conda  = "${projectDir}/envs/bwa_samtools.yml"
        cpus   = { params.threads }
        memory = '16 GB'
        time   = '8h'
    }

    withName: 'CALCULATE_COVERAGE' {
        conda  = "${projectDir}/envs/bwa_samtools.yml"
        cpus   = 1
        memory = '4 GB'
        time   = '1h'
    }

    withName: 'PLOT_COVERAGE' {
        conda  = "${projectDir}/envs/python_plot.yml"
        cpus   = 1
        memory = '4 GB'
        time   = '1h'
    }

    withName: 'BCFTOOLS_MPILEUP' {
        conda  = "${projectDir}/modules/nf-core/bcftools/mpileup/environment.yml"
        cpus   = { params.threads }
        memory = '8 GB'
        time   = '4h'
    }
}

conda {
    enabled = true
}
