/*
 * Container profile: Docker or Singularity images from Docker Hub
 *
 * Usage:
 *   nextflow run main.nf -profile docker
 *   nextflow run main.nf -profile singularity
 */

process {
    withName: 'FASTQC' {
        container = "${params.docker_registry}/hw3-fastqc:1.0"
        cpus      = 2
        memory    = '4 GB'
    }

    withName: 'TRIM_READS' {
        container = "${params.docker_registry}/hw3-fastp:1.0"
        cpus      = { params.threads }
        memory    = '8 GB'
    }

    withName: 'INDEX_REFERENCE|MAP_READS|CALCULATE_COVERAGE' {
        container = "${params.docker_registry}/hw3-bwa-samtools:1.0"
    }

    withName: 'INDEX_REFERENCE|CALCULATE_COVERAGE' {
        cpus   = 1
        memory = '4 GB'
    }

    withName: 'MAP_READS' {
        cpus   = { params.threads }
        memory = '16 GB'
    }

    withName: 'PLOT_COVERAGE' {
        container = "${params.docker_registry}/hw3-python-plot:1.0"
        cpus      = 1
        memory    = '4 GB'
    }

    withName: 'BCFTOOLS_MPILEUP' {
        container = "${params.docker_registry}/hw3-bcftools:1.0"
        cpus      = { params.threads }
        memory    = '8 GB'
    }
}

docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}

singularity {
    enabled = true
    autoMounts = true
}
