/*
 * Local profile: run on current machine using existing conda environment
 *
 * Usage:
 *   nextflow run main.nf -profile local --conda_env /path/to/hw3_env
 */

process {
    withName: 'FASTQC|TRIM_READS|INDEX_REFERENCE|MAP_READS|CALCULATE_COVERAGE|PLOT_COVERAGE|BCFTOOLS_MPILEUP' {
        conda = params.conda_env ?: "${projectDir}/envs/hw3_all.yml"
    }
}

conda {
    enabled = true
}

process {
    withLabel: 'process_low' {
        cpus   = 1
        memory = '2 GB'
    }
    withLabel: 'process_medium' {
        cpus   = { params.threads }
        memory = '4 GB'
    }
    withLabel: 'process_high' {
        cpus   = { params.threads }
        memory = '8 GB'
    }
}
