/*
 * Local profile
 *
 * Default: Nextflow creates conda envs from .yml files (tools installed automatically).
 *
 * Optional: use one shared env (must run bin/setup_env.sh first):
 *   nextflow run main.nf -profile local --conda_env ~/miniconda3/envs/hw3
 */

conda {
    enabled = true
}

process {
    if (params.conda_env) {
        // single pre-built env (run bin/setup_env.sh before first use)
        withName: 'FASTQC|TRIM_READS|INDEX_REFERENCE|MAP_READS|CALCULATE_COVERAGE|PLOT_COVERAGE|BCFTOOLS_MPILEUP|FILTER_VARIANTS' {
            conda = params.conda_env
        }
    } else {
        // auto-install missing tools from yml files
        withName: 'FASTQC'             { conda = "${projectDir}/envs/fastqc.yml" }
        withName: 'TRIM_READS'          { conda = "${projectDir}/envs/fastp.yml" }
        withName: 'INDEX_REFERENCE'   { conda = "${projectDir}/envs/bwa_samtools.yml" }
        withName: 'MAP_READS'          { conda = "${projectDir}/envs/bwa_samtools.yml" }
        withName: 'CALCULATE_COVERAGE'{ conda = "${projectDir}/envs/bwa_samtools.yml" }
        withName: 'PLOT_COVERAGE'      { conda = "${projectDir}/envs/python_plot.yml" }
        withName: 'BCFTOOLS_MPILEUP'  { conda = "${projectDir}/envs/bcftools.yml" }
        withName: 'FILTER_VARIANTS'   { conda = "${projectDir}/envs/bcftools.yml" }
    }

    withLabel: 'process_low' {
        cpus   = 1
        memory = '2 GB'
    }
    withLabel: 'process_medium' {
        cpus   = { params.threads }
        memory = '4 GB'
    }
    withLabel: 'process_high' {
        cpus   = { params.threads }
        memory = '8 GB'
    }
}
